* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  min-height: 100%;
}

header {
  grid-area: header1;
}

nav {
  grid-area: navegador;
  justify-content: stretch;
}

main {
  grid-area: principal;
  background-color: beige;
}

article {
  grid-area: articulo;
  background-color: #ffffff;
}

section {
  grid-area: section;
  background-color: rgb(250, 250, 250);
}

footer {
  grid-area: footer1;
  background-color: rgb(255, 255, 255);
}

/****header***/
.container-header {
  background: #7e93a7;
  width: 100%;
  display: flex;
}
.container-header .header-box {
  padding: 1em;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.container-header .img-header {
  width: 2rem;
  height: 2rem;
  margin: 0.6em;
}
.container-header i {
  color: white;
  text-decoration: none;
  list-style: none;
}
.container-header .header-a {
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.container-header .header-a:hover {
  color: #7fe4dd;
}

/****header***/
.container-navegador {
  display: grid;
  background-color: #43515e;
  height: 100%;
  grid-template-columns: minmax(250px, 1fr);
  flex-direction: column;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  padding: 10px;
  overflow: hidden;
}
.container-navegador .navbar-nav {
  height: 90%;
}
.container-navegador .navbar-nav .imagen-logo .imgNav {
  width: 7rem;
  height: 7rem;
  margin: 1em;
}
.container-navegador .navbar-nav .imagen-logo .negrita-titulo {
  color: white;
  font-weight: 600;
}
.container-navegador .navbar-nav .imagen-logo .titulo-navbar {
  color: #65a8a4;
  font-weight: 600;
  font-size: 1.2rem;
}
.container-navegador .navbar-nav .container-nav {
  align-items: center;
  margin: 1.25em;
  margin-top: 1px;
  justify-content: stretch;
  color: white;
  transition: all 300ms ease;
}
.container-navegador .navbar-nav .container-nav .menu-navbar {
  display: block !important;
}
.container-navegador .navbar-nav .container-nav .nav-item {
  padding: 0.625rem;
  font-size: 1.2em;
}
.container-navegador .navbar-nav .container-nav .nav-link-item {
  list-style: none;
  text-decoration: none;
  color: white;
  padding: 0.625rem;
}
.container-navegador .navbar-nav .container-nav .nav-link-item:hover {
  color: #65a8a4;
}
.container-navegador .navbar-nav .container-nav .titulo-navbar-item {
  color: #ffffff;
  font-weight: 600;
  font-size: 1.3rem;
}
.container-navegador .navbar-nav .container-nav .titulo-navbar-item .horario {
  font-weight: 620;
  color: #65a8a4;
}
.container-navegador .navbar-nav .container-nav .nav-numero {
  color: #65a8a4;
  font-weight: 600;
  font-size: 1.2em;
}

.fa-solid {
  visibility: hidden;
}

.navbar-fixed {
  position: fixed;
  left: 12px;
}

.imgNav:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

@media (max-width: 976px) {
  .imagen-logo {
    margin-bottom: 5px;
  }

  i.fa-solid {
    color: white;
    display: flex;
    visibility: visible;
    font-size: 2em;
    outline: 2px solid rgb(255, 253, 253);
    outline-offset: 1px;
    width: 3.125rem;
    padding: 0.312rem;
    border-radius: 5px;
    margin-bottom: 0.625rem;
    margin-top: 1.3rem;
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    cursor: pointer;
  }

  .menu-navbar {
    display: none;
  }
}
/****main***/
.container-main {
  height: 400px;
  width: 100%;
}
.container-main .container-main-flex {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.container-main .capa-imagen {
  width: 60%;
  height: 25em;
}
.container-main .capa-texto {
  height: auto;
  padding: 0.62em;
  background-color: #3ca69f;
  margin-right: 15px;
  border-radius: 10px;
  width: 70%;
  box-shadow: 1px 3px 12px black;
}
.container-main .texto-main {
  height: 100%;
  width: 100%;
  font-size: 1em;
  font-weight: 450;
  text-align: justify;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.342);
}

@media (max-width: 768px) {
  .container-main {
    height: auto;
    width: 100%;
  }
  .container-main .capa-imagen {
    width: 90%;
    height: 27em;
  }
  .container-main .capa-texto {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: #3ca69f;
  }
  .container-main .texto-main {
    font-size: 1em;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0.62rem;
  }
}
@media (max-width: 767px) {
  .container-main-flex .capa-imagen {
    width: 50%;
    height: 20em;
  }
  .container-main-flex .capa-texto {
    height: auto;
    padding: 0.62em;
    margin: 2px 5px 0px 0px;
    border-radius: 10px;
  }
  .container-main-flex .texto-main {
    font-size: 0.9em;
    text-align: justify;
    justify-content: center;
    align-items: center;
    padding: 0.62rem;
  }
}
@media (max-width: 575px) {
  .container-main .container-main-flex {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .container-main .container-main-flex .capa-imagen {
    width: 70%;
    height: 20em;
  }
  .container-main .container-main-flex .capa-texto {
    height: auto;
    padding: 0.62em;
    margin: 2px 5px 0px 0px;
    border-radius: 10px;
  }
  .container-main .container-main-flex .capa-texto .texto-main {
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1px;
  }
}
@media (max-width: 375px) {
  .container-main .container-main-flex {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  .container-main .container-main-flex .capa-imagen {
    grid-column: 1/-1;
    width: 90%;
    height: 20em;
  }
  .container-main .container-main-flex .capa-texto {
    box-shadow: none;
    margin-top: 2px;
  }
  .container-main .container-main-flex .capa-texto {
    height: auto;
    padding: 0.62em;
    margin: 0 auto;
    border-radius: 10px;
    grid-column: 1/-1;
  }
  .container-main .container-main-flex .capa-texto .texto-main {
    font-size: 0.9em;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1px;
  }
}
/****grid***/
.grid-container > * {
  text-align: center;
}

.grid-container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 1.5fr 6fr;
  grid-auto-rows: auto;
  grid-template-areas: "navegador header1   header1" "navegador principal principal" "navegador articulo  articulo" "navegador section   section" "navegador footer1   footer1" "navegador copyr     copyr";
}

.copy-right {
  grid-area: copyr;
  background-color: rgb(251, 239, 239);
  border-top: 1px solid rgba(0, 0, 0, 0.363);
  width: 100%;
  height: 20px;
}
.copy-right .copy-text {
  font-weight: 700;
  text-align: center;
  align-items: center;
  padding: 2px;
  font-size: 0.7em;
}

@media (max-width: 976px) {
  .grid-container {
    grid-template-columns: minmax(250px, auto);
    grid-template-rows: minmax(250px, 1fr);
    grid-template: "navegador navegador" "header1   header1" "principal principal" "articulo  articulo" "section   section" "footer1   footer1" "copyr     copyr";
  }
}
/****footer***/
.container-footer {
  border-top: 5px solid #586a7a;
  width: 100%;
  background-color: white;
}
.container-footer .footer-titulo {
  padding: 0.62rem;
  font-size: 1.3em;
  font-weight: 650;
  color: #65a8a4;
  text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.973);
}
.container-footer .items-footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
.container-footer .item-footer {
  background-color: white;
  padding: 0.62rem;
  margin: 0.62rem;
  align-items: center;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  transition: all 0.25s;
  width: 100%;
}
.container-footer .item-footer-xs {
  background-color: white;
  padding: 0.62rem;
  margin: 0.62rem;
  align-items: center;
  justify-content: center;
  align-self: center;
  overflow: hidden;
  transition: all 0.25s;
  width: 100%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
.container-footer .icono-footer {
  width: 3rem;
  height: 3rem;
  margin: 0.62rem;
  align-items: center;
  justify-content: center;
}
.container-footer .icono-footer-mercadopago {
  width: 4.4rem;
  height: 4.4rem;
  margin: 0.62rem;
  align-items: center;
  justify-content: center;
}
.container-footer .footer-texto {
  font-weight: 550;
  padding: 0.12rem;
  font-size: 1em;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 1px 1px 1px rgba(163, 163, 163, 0.74);
}

.footer-subtitulo {
  color: #586a7a;
  font-size: 1.1rem;
  text-align: center;
  font-weight: 750;
}

@media (max-width: 1041px) {
  .container-footer {
    border-top: 5px solid #586a7a;
    width: 100%;
    height: auto;
  }
  .container-footer .items-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    height: 100%;
  }
  .container-footer .item-footer {
    background-color: rgb(255, 255, 255);
    padding: 0.5rem;
    margin: 0.5rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    height: 100%;
    width: 100%;
  }
  .container-footer .icono-footer {
    width: 3rem;
    height: 3rem;
    margin: 0.62rem;
    align-items: center;
    justify-content: center;
  }
  .container-footer .footer-texto {
    font-weight: 700;
    padding: 0.12rem;
    font-size: 0.9em;
    text-transform: uppercase;
  }
}
@media (max-width: 732px) {
  .items-footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }

  .item-footer {
    background-color: rgb(255, 255, 255);
    padding: 0.3125rem;
    margin: 0.3125rem;
    align-items: center;
    justify-content: center;
    align-self: center;
    width: 100%;
  }

  .icono-footer {
    width: 1rem;
    height: 1rem;
    margin: 0.31rem;
    align-items: center;
    justify-content: center;
  }

  .icono-footer-px {
    margin: 0.31rem;
    align-items: center;
    justify-content: center;
  }

  .footer-texto {
    font-weight: 700;
    padding: 0.12rem;
    font-size: 0.8em;
    text-transform: uppercase;
  }
}
@media (max-width: 685px) {
  .items-footer {
    flex-wrap: wrap;
  }
  .items-footer .item-footer {
    width: 100%;
  }
  .items-footer .item-footer-xs {
    border-left: none;
    border-right: none;
  }
}
/****section***/
.container-section {
  height: 100%;
  width: 100%;
}
.container-section .titulo-section {
  background-color: rgb(255, 255, 255);
  padding: 0.5rem 0px;
  font-size: 1.2em;
  font-weight: 600;
  width: 100%;
}
.container-section .carousel {
  width: 100%;
  height: auto;
  border-top: 5px solid #586a7a;
}
.container-section .img-section {
  width: 100%;
  height: 25em;
}

/****article**/
.container-article {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
}
.container-article .container-items {
  height: 100%;
  width: 100%;
  padding: 0.62rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}
.container-article .container-items .item-imagen {
  width: 3.75em;
  height: 3.437rem;
  margin: 0.625rem;
}
.container-article .container-items .item-h {
  padding: 0.3125rem;
  font-size: 1.1rem;
  color: #404e5a;
  font-weight: 650;
}
.container-article .container-items .item-p {
  font-weight: 600;
  padding: 0.625rem;
  font-size: 0.8em;
}
.container-article .articulo-titulo {
  color: rgb(0, 0, 0);
  grid-column: 1/-1;
  padding: 0.3125rem 0;
  font-size: 1.2em;
  font-weight: 600;
}

.container-items:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

@media (max-width: 876px) {
  .container-article {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }
}/*# sourceMappingURL=estilos.css.map */